<style>
  /* Styling for form container */
  .form-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #385459;
    border-radius: 5px;
  }

  /* Styling for form labels */
  label {
    display: block;
    margin-bottom: 10px;
  }

  /* Styling for input fields */
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    resize: vertical;
  }

  /* Styling for submit button */
  button[type="submit"] {
    background-color: #CA3A20;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }
</style>
