<div id="timeline-container">
  <div class="row">
    <div class="left">2020 - 2022<a href="/portfolio/projects/signetic.html">: Signetic</a></div>
    <div class="right">Saving lives in Seattle by vaccinating 350k people</div>
  </div>
  <div class="row">
    <div class="left">2018 - 2020<a href="/portfolio/projects/hub.html">: Hub by CBRE</a></div>
    <div class="right">Making smaller listings more valuable for brokers</div>
  </div>
  <div class="row">
    <div class="left">2017 - 2018<a href="/portfolio/projects/hwy61.html">: HWY61</a></div>
    <div class="right">Providing the sounds of Americana across the United States.</div>
  </div>
  <div class="row">
    <div class="left">2017 - 2018<a href="/portfolio/projects/roomfull.html">: Roomfull</a></div>
    <div class="right">A website to make traveling musicians lives easier.</div>
  </div>
  <div class="row">
    <div class="left">2011 - 2013<a href="/portfolio/projects/collegesnapps.html">: CollegeSnapps</a></div>
    <div class="right">Helping minorities to get to and through college.</div>
  </div>
  <div class="row">
    <div class="left">2011 - 2012<a href="/portfolio/projects/quadstreaker.html">: QuadStreaker</a></div>
    <div class="right">An iOS and Android application that gets you to travel.</div>
  </div>
</div>
